
#header{ 
  background-image: linear-gradient(-85deg, #7B46ED 0%, #4595E9 100%); 
} 

body.portfolio {
  background-color: #222;
}


header#darkmenu {

    background: #222;
    padding: 20px 0;

}

header#darkmenu a {

    color: #ccc;

}


main.main-dark { 
  padding-top: 80px;
  background-color: #222a32; 
}

h2.lead {

    color: #fff;
    font-size: 2em;

}

p.lead {
    width: 650px;
    margin: 25px auto;
}